@import url(http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:400,700);
/* ==========================================================================
   Acelet styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
/* line 14, ../scss/main.scss */
html,
button,
input,
select,
textarea {
  color: #fff;
}

/* line 18, ../scss/main.scss */
html {
  min-height: 100%;
  background-image: -webkit-gradient(radial, 100% 100%, 0, 100% 100%, 100, color-stop(0%, #590202), color-stop(100%, #0e0000));
  background-image: -webkit-radial-gradient(100% 100%, #590202 0%, #0e0000 100%);
  background-image: -moz-radial-gradient(100% 100%, #590202 0%, #0e0000 100%);
  background-image: -o-radial-gradient(100% 100%, #590202 0%, #0e0000 100%);
  background-image: radial-gradient(100% 100%, #590202 0%, #0e0000 100%);
}

/* line 23, ../scss/main.scss */
body {
  font: 24px/1.5 normal "Oleo Script Swash Caps", cursive;
  text-shadow: -1px -1px 4px black;
  text-align: center;
}

/* line 29, ../scss/main.scss */
::-moz-selection {
  background: #590202;
  text-shadow: none;
}

/* line 34, ../scss/main.scss */
::selection {
  background: #590202;
  text-shadow: none;
}

/* line 40, ../scss/main.scss */
a,
a:visited {
  color: #a40404;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 44, ../scss/main.scss */
a:hover,
a:visited:hover {
  color: #ef0505;
}

/* line 49, ../scss/main.scss */
.acelet {
  position: relative;
  display: inline-block;
  padding: 0.2em 0.4em 0.25em;
  margin: 0.2em 0 0.4em;
  font-size: 4em;
  line-height: 1;
  background-color: #0d0d0d;
  background-image: -webkit-gradient(radial, 350px 200px, 0, 350px 200px, 200, color-stop(20%, #333333), color-stop(150%, transparent), color-stop(200%, #0d0d0d));
  background-image: -webkit-radial-gradient(350px 200px, #333333 20%, transparent 150%, #0d0d0d 200%);
  background-image: -moz-radial-gradient(350px 200px, #333333 20%, transparent 150%, #0d0d0d 200%);
  background-image: -o-radial-gradient(350px 200px, #333333 20%, transparent 150%, #0d0d0d 200%);
  background-image: radial-gradient(350px 200px, #333333 20%, transparent 150%, #0d0d0d 200%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 100px #590202, 2px 2px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 100px #590202, 2px 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 100px #590202, 2px 2px 2px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  text-shadow: -1px -1px 0 #1a1a1a;
  border-top: 1px solid #363636;
  border-bottom: 1px solid #0d0d0d;
  color: #fff;
  text-decoration: none;
}
/* line 66, ../scss/main.scss */
.acelet:after {
  content: "Drag me to your bookmarks bar";
  display: block;
  font-size: 25%;
}
/* line 71, ../scss/main.scss */
.acelet:before {
  content: "⤹";
  display: block;
  font-size: 250%;
  -webkit-transform: rotate(220deg);
  -moz-transform: rotate(220deg);
  -ms-transform: rotate(220deg);
  -o-transform: rotate(220deg);
  transform: rotate(220deg);
  position: absolute;
  top: -.5em;
  right: -.8em;
  font-weight: bold;
  text-shadow: 0 0 30px #720303;
  color: transparent;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
/* line 84, ../scss/main.scss */
.acelet:hover {
  background-color: #333333;
  color: #fff;
  -webkit-box-shadow: 2px 2px 100px #bd0404, 2px 2px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 100px #bd0404, 2px 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 100px #bd0404, 2px 2px 2px rgba(0, 0, 0, 0.4);
}
/* line 88, ../scss/main.scss */
.acelet:hover:before {
  text-shadow: 0 0 4px #720303;
}

/* line 95, ../scss/main.scss */
p,
.defaults {
  width: 700px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* line 102, ../scss/main.scss */
.intro {
  font-size: 1.7em;
}

/* line 106, ../scss/main.scss */
.defaults {
  margin: 1em auto 2em;
  padding-left: 1.2em;
  padding-bottom: .7em;
  border: 1px solid #450202;
  text-align: left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 40px #270101;
  -moz-box-shadow: inset 0 0 40px #270101;
  box-shadow: inset 0 0 40px #270101;
}
/* line 114, ../scss/main.scss */
.defaults h4 {
  text-align: center;
  margin: .7em;
}

/* line 120, ../scss/main.scss */
.select-wrp,
.checkbox-wrp {
  margin-right: .8em;
  text-align: left;
}

/* line 124, ../scss/main.scss */
.select-wrp {
  display: inline-block;
  vertical-align: top;
}
/* line 127, ../scss/main.scss */
.select-wrp label {
  display: block;
  font-size: .7em;
}
/* line 131, ../scss/main.scss */
.select-wrp select {
  max-width: 165px;
  font-size: .7em;
  padding: 0.1em 0.2em;
  color: #bbb;
  border: none;
  background: #121212;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 140, ../scss/main.scss */
.select-wrp option {
  color: #222;
}

/* line 144, ../scss/main.scss */
.checkboxes-wrp {
  display: inline-block;
}

/* line 147, ../scss/main.scss */
.checkbox-wrp {
  font-size: .7em;
}
/* line 149, ../scss/main.scss */
.checkbox-wrp input[type="number"] {
  width: 2em;
  padding-top: .15em;
  border: 1px solid #590202;
  text-align: center;
  color: #fff;
  font-weight: bold;
  background: #270101;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 161, ../scss/main.scss */
.share-btns {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 166, ../scss/main.scss */
.share-btns > iframe,
.share-btns > div {
  display: inline-block;
  vertical-align: top;
  margin: 0.4em 0.2em;
  opacity: .6;
  -webkit-transition: opacity, 0.4s;
  -moz-transition: opacity, 0.4s;
  -o-transition: opacity, 0.4s;
  transition: opacity, 0.4s;
}
/* line 172, ../scss/main.scss */
.share-btns > iframe:hover,
.share-btns > div:hover {
  opacity: 1;
}
/* line 176, ../scss/main.scss */
.share-btns .fb-like > span {
  vertical-align: top;
}

/* line 181, ../scss/main.scss */
footer {
  opacity: .7;
  overflow: hidden;
  padding: 1em 1em 0.2em;
  font-size: 85%;
}

/* line 187, ../scss/main.scss */
.footer-first {
  float: left;
}

/* line 190, ../scss/main.scss */
.footer-second {
  float: right;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 198, ../scss/main.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 205, ../scss/main.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 212, ../scss/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 217, ../scss/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 229, ../scss/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 238, ../scss/main.scss */
.invisible {
  visibility: hidden;
}

/* line 243, ../scss/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 248, ../scss/main.scss */
.clearfix:after {
  clear: both;
}

/* line 252, ../scss/main.scss */
.clearfix {
  *zoom: 1;
}
