
.intro {
  font-size: 2em;
  padding: .8em 2em 0;
  line-height: 1.4;
}
.too-small {
  font-size: 2.2em;
  margin-top: 30%;
  padding: 0 1em;
}
h2 {
  font-family: 'Strait', sans-serif;
}

section {
  &#snippet,
  &#defaults {
    @extend %box;
    text-align: left;
  }
}


// Footer
footer {
  font-family: 'Strait', sans-serif;
  opacity: .7;
  overflow: hidden;
  font-size: 85%;
}
.footer-first {
  float: left;
}
.footer-second {
  float: right;
}
.footer-first,
.footer-second {
  padding: 1em 1em .2em;
}
