/* ==========================================================================
   Acelet styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

@import "compass";
@import "salsa";

@import url(http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:400,700);
@import url(http://fonts.googleapis.com/css?family=Strait);
$red: #590202;
$gray: #333;

@import "mixins";
@import "h5bp";
@import "layout";
@import "defaults";
@import "visuals";
@import "acelet";
@import "mq";

.share-btns {
  position: absolute;
  top: 0;
  left: 0;
  > iframe,
  > div {
    display: inline-block;
    vertical-align: top;
    margin: .4em .2em;
    opacity: .6;
    @include transition(opacity, .4s);
    &:hover {
      opacity: 1;
    }
  }
  .fb-like > span {
    vertical-align: top !important;
  }
}


